In [ ]:
import pandas as pd
import datetime
import time

In [126]:
date = datetime.datetime.today()
date_modify = str(date)
date_to_add = date_modify[0:10]

In [ ]:
daily = "https://www.tn.gov/health/cedep/ncov.html"
viral = pd.read_html(daily)
df2 = viral[5]
TN_county = df2[:-3]
TN_county.loc[:,'Date']=date_to_add
TN_county["County"] = TN_county.loc[:, ('County')].str.split(" County", expand = True)
TN_county

C:\Users\clayf\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        County  Positive  Negative  Death        Date
0     Anderson        10       164    NaN  2020-04-02
1      Bedford         6       110    NaN  2020-04-02
2       Benton         4        36    NaN  2020-04-02
3      Bledsoe         2        15    NaN  2020-04-02
4       Blount        32       148    NaN  2020-04-02
..         ...       ...       ...    ...         ...
90       Wayne         2        31    NaN  2020-04-02
91     Weakley         1        68    NaN  2020-04-02
92       White         2        77    NaN  2020-04-02
93  Williamson       199      1434    3.0  2020-04-02
94      Wilson        62       756    NaN  2020-04-02

[95 rows x 5 columns]

In [ ]:
url2="https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
viral_times=pd.read_csv(url2)
TN=viral_times[viral_times["state"] == 'Tennessee']
TN=TN.rename(columns={'county':'County'})
TN=TN.rename(columns={'date':'Date'})
TN=TN.rename(columns={'cases':'Positive'})
TN=TN.rename(columns={'deaths':'Death'})
TN=TN.drop(['state'], axis=1)
TN

             Date      County     fips  Positive  Death
570    2020-03-05  Williamson  47187.0         1      0
639    2020-03-06  Williamson  47187.0         1      0
731    2020-03-07  Williamson  47187.0         1      0
841    2020-03-08    Davidson  47037.0         1      0
842    2020-03-08      Shelby  47157.0         1      0
...           ...         ...      ...       ...    ...
25796  2020-04-01       Wayne  47181.0         1      0
25797  2020-04-01     Weakley  47183.0         1      0
25798  2020-04-01       White  47185.0         2      0
25799  2020-04-01  Williamson  47187.0       148      2
25800  2020-04-01      Wilson  47189.0        45      0

[848 rows x 5 columns]

In [ ]:
TN_today=pd.concat([TN_Depth_Health,TN_county], join='outer', sort=True)
TN_today
# TN_cases.to_csv("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/Synched/TNDepthHealth_" + date_to_add + '_today.csv')

,County,Date,Death,Negative,Percent_Tested,Percentage of County Population,Population,Positive
0,Sumner,2020-03-28,NaN,NaN,NaN,0.043,191283.0,82.0
1,Williamson,2020-03-28,NaN,NaN,NaN,0.040,238412.0,95.0
2,Davidson,2020-03-28,NaN,NaN,NaN,0.035,694144.0,243.0
3,Robertson,2020-03-28,NaN,NaN,NaN,0.032,71813.0,23.0
4,Shelby,2020-03-28,NaN,NaN,NaN,0.029,937166.0,269.0
...,...,...,...,...,...,...,...,...
90,Wayne,2020-04-02,NaN,31.0,NaN,NaN,NaN,2.0
91,Weakley,2020-04-02,NaN,68.0,NaN,NaN,NaN,1.0
92,White,2020-04-02,NaN,77.0,NaN,NaN,NaN,2.0
93,Williamson,2020-04-02,3.0,1434.0,NaN,NaN,NaN,199.0
94,Wilson,2020-04-02,NaN,756.0,NaN,NaN,NaN,62.0

In [ ]:
TN_Depth_Health = pd.read_csv("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/TNDepthHealth" + date_to_add + '_today.csv')
TN_today=pd.concat([TN_Depth_Health,TN_county], join='outer', sort=True)
TN_today=TN_today.sort_values('County')
TN_today.to_csv("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/Synched" + date_to_add +'_today.csv',index=False)
time.sleep = (10.03)
url2="https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
viral_times=pd.read_csv(url2)
TN=viral_times[viral_times["state"] == 'Tennessee']
TN=TN.rename(columns={'county':'County'})
TN=TN.rename(columns={'date':'Date'})
TN=TN.rename(columns={'cases':'Positive'})
TN=TN.rename(columns={'deaths':'Death'})
TN=TN.drop(['state'], axis=1)

TN_for_update=pd.read_csv("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/Synched" + date_to_add +'today.csv')
Synched=TN.append(TN_for_update, sort=True)
TN_cases=Synched.sort_values(["County", "Date"],ascending=[0,1])
TN_cases["Duplicates"]=TN_cases["County"]+TN_cases['Date']
TN_cases = TN_cases.drop_duplicates(subset="Duplicates", keep="last")
TN_cases=TN_cases.drop(['Duplicates'],axis=1)

FileNotFoundError: [Errno 2] File b'C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/TNDepthHealth2020-04-02_today.csv' does not exist: b'C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/TNDepthHealth2020-04-02_today.csv'

In [133]:
# TN_x.to_csv('C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/TNDepthHealth.csv',index=False)

In [ ]:
TN_cases=TN_cases.drop(['Duplicates'],axis=1)
TN_cases

,County,Date,Death,Negative,Percent_Tested,Percentage of County Population,Population,Positive,fips
94,Wilson County,2020-04-02,NaN,756.0,NaN,NaN,NaN,62.0,NaN
5041,Wilson,2020-03-19,0.0,NaN,NaN,NaN,NaN,2.0,47189.0
5930,Wilson,2020-03-20,0.0,NaN,NaN,NaN,NaN,3.0,47189.0
6947,Wilson,2020-03-21,0.0,NaN,NaN,NaN,NaN,3.0,47189.0
8077,Wilson,2020-03-22,0.0,NaN,NaN,NaN,NaN,3.0,47189.0
...,...,...,...,...,...,...,...,...,...
44,Anderson,2020-03-28,NaN,NaN,NaN,0.006,76978.0,5.0,NaN
89,Anderson,2020-03-29,NaN,NaN,NaN,0.008,76978.0,6.0,NaN
154,Anderson,2020-03-30,NaN,NaN,NaN,0.012,76978.0,9.0,NaN
228,Anderson,2020-03-31,NaN,129.0,0.2,0.013,76978.0,10.0,NaN
322,Anderson,2020-04-01,NaN,135.0,0.2,0.013,76978.0,10.0,NaN

In [31]:
url="https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html"
viralNYT=pd.read_html(url)
US_counties = viralNYT[2]
US_counties

,County,Cases,"Per 100,000 people",Slower Faster Case Growth Rate
0,"Blaine, Idaho",351,1596,Feb. 26 Apr. 1
1,"Westchester, N.Y.",11566,1194,NaN
2,"Rockland, N.Y.",3751,1159,NaN
3,"Orleans, La.",3148,808,NaN
4,"Nassau, N.Y.",10587,780,NaN
5,"St. John the Baptist, La.",274,631,NaN
6,"New York City, N.Y.",51810,614,NaN
7,"Suffolk, N.Y.",8746,588,NaN
8,"Eagle, Colo.",314,578,NaN
9,"Dougherty, Ga.",521,572,NaN

In [37]:
url2="https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
viral_times=pd.read_csv(url2)
TN=viral_times[viral_times["state"] == 'Tennessee']
TN=TN.rename(columns={'county':'County'})
TN=TN.rename(columns={'date':'Date'})
TN=TN.rename(columns={'cases':'Positive'})
TN=TN.rename(columns={'deaths':'Death'})
TN=TN.drop(['state'], axis=1)
TN.to_csv('C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/NYtimes_historical.csv',index=False)
TN

             Date      County     fips  Positive  Death
570    2020-03-05  Williamson  47187.0         1      0
639    2020-03-06  Williamson  47187.0         1      0
731    2020-03-07  Williamson  47187.0         1      0
841    2020-03-08    Davidson  47037.0         1      0
842    2020-03-08      Shelby  47157.0         1      0
...           ...         ...      ...       ...    ...
25796  2020-04-01       Wayne  47181.0         1      0
25797  2020-04-01     Weakley  47183.0         1      0
25798  2020-04-01       White  47185.0         2      0
25799  2020-04-01  Williamson  47187.0       148      2
25800  2020-04-01      Wilson  47189.0        45      0

[848 rows x 5 columns]

In [35]:
Synched=TN.append(TN_today, sort=True)
TN_cases=Synched.sort_values(["County", "Date"],ascending=[0,1])
TN_cases["Duplicates"]=TN_cases["County"]+TN_cases['Date']
TN_cases = TN_cases.drop_duplicates(subset="Duplicates", keep="last")
TN_cases

,County,Date,Death,Negative,Percent_Tested,Percentage of County Population,Population,Positive,fips,Duplicates
94,Wilson County,2020-04-02,NaN,756.0,NaN,NaN,NaN,62.0,NaN,Wilson County2020-04-02
5041,Wilson,2020-03-19,0.0,NaN,NaN,NaN,NaN,2.0,47189.0,Wilson2020-03-19
5930,Wilson,2020-03-20,0.0,NaN,NaN,NaN,NaN,3.0,47189.0,Wilson2020-03-20
6947,Wilson,2020-03-21,0.0,NaN,NaN,NaN,NaN,3.0,47189.0,Wilson2020-03-21
8077,Wilson,2020-03-22,0.0,NaN,NaN,NaN,NaN,3.0,47189.0,Wilson2020-03-22
...,...,...,...,...,...,...,...,...,...,...
44,Anderson,2020-03-28,NaN,NaN,NaN,0.006,76978.0,5.0,NaN,Anderson2020-03-28
89,Anderson,2020-03-29,NaN,NaN,NaN,0.008,76978.0,6.0,NaN,Anderson2020-03-29
154,Anderson,2020-03-30,NaN,NaN,NaN,0.012,76978.0,9.0,NaN,Anderson2020-03-30
228,Anderson,2020-03-31,NaN,129.0,0.2,0.013,76978.0,10.0,NaN,Anderson2020-03-31
322,Anderson,2020-04-01,NaN,135.0,0.2,0.013,76978.0,10.0,NaN,Anderson2020-04-01

In [29]:
TN_deaths = TN_x.merge(TN,left_on='Date',right_on='County', how='outer')

TN_deaths

,County_x,Date_x,Death,Negative,Percent_Tested,Percentage of County Population,Population,Positive,Date_y,County_y,fips,Postive,Deaths
0,Anderson,2020-03-28,NaN,NaN,NaN,0.006,76978.0,5.0,NaN,NaN,NaN,NaN,NaN
1,Bedford,2020-03-28,NaN,NaN,NaN,0.002,49713.0,1.0,NaN,NaN,NaN,NaN,NaN
2,Benton,2020-03-28,NaN,NaN,NaN,0.019,16160.0,3.0,NaN,NaN,NaN,NaN,NaN
3,Bledsoe,2020-03-28,NaN,NaN,NaN,0.013,15064.0,2.0,NaN,NaN,NaN,NaN,NaN
4,Blount,2020-03-28,NaN,NaN,NaN,0.007,133088.0,9.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-30,Giles,47055.0,1.0,0.0
1154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-31,Giles,47055.0,3.0,0.0
1155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-30,Fentress,47049.0,1.0,0.0
1156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-31,Fentress,47049.0,1.0,0.0
1157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-31,Humphreys,47085.0,2.0,0.0

In [ ]:
TN_stuff=pd.concat([TN_x,TN], join='left')
TN_stuff.head(50)