In [1]:
import pandas as pd
import datetime
import time

In [2]:
date = datetime.datetime.today()
date_modify = str(date)
date_to_add = date_modify[0:10]

In [3]:
url2="https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
viral_times=pd.read_csv(url2)
viral_times

             date      county       state     fips  cases  deaths
0      2020-01-21   Snohomish  Washington  53061.0      1       0
1      2020-01-22   Snohomish  Washington  53061.0      1       0
2      2020-01-23   Snohomish  Washington  53061.0      1       0
3      2020-01-24        Cook    Illinois  17031.0      1       0
4      2020-01-24   Snohomish  Washington  53061.0      1       0
...           ...         ...         ...      ...    ...     ...
40715  2020-04-07    Sublette     Wyoming  56035.0      1       0
40716  2020-04-07  Sweetwater     Wyoming  56037.0      6       0
40717  2020-04-07       Teton     Wyoming  56039.0     44       0
40718  2020-04-07       Uinta     Wyoming  56041.0      3       0
40719  2020-04-07    Washakie     Wyoming  56043.0      4       0

[40720 rows x 6 columns]

In [27]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

# thank you to @kinghelix and @trevormarburger for this idea
abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))

In [26]:
# viral_times.replace({"state": abbrev_us_state})
viral_times['state']=viral_times['state'].map(us_state_abbrev)
viral_times

             date      county state     fips  cases  deaths
0      2020-01-21   Snohomish    WA  53061.0      1       0
1      2020-01-22   Snohomish    WA  53061.0      1       0
2      2020-01-23   Snohomish    WA  53061.0      1       0
3      2020-01-24        Cook    IL  17031.0      1       0
4      2020-01-24   Snohomish    WA  53061.0      1       0
...           ...         ...   ...      ...    ...     ...
40715  2020-04-07    Sublette    WY  56035.0      1       0
40716  2020-04-07  Sweetwater    WY  56037.0      6       0
40717  2020-04-07       Teton    WY  56039.0     44       0
40718  2020-04-07       Uinta    WY  56041.0      3       0
40719  2020-04-07    Washakie    WY  56043.0      4       0

[40720 rows x 6 columns]

In [29]:
viral_times['unique county']=viral_times['state']+viral_times['county']
viral_times

             date      county state     fips  cases  deaths unique county
0      2020-01-21   Snohomish    WA  53061.0      1       0   WASnohomish
1      2020-01-22   Snohomish    WA  53061.0      1       0   WASnohomish
2      2020-01-23   Snohomish    WA  53061.0      1       0   WASnohomish
3      2020-01-24        Cook    IL  17031.0      1       0        ILCook
4      2020-01-24   Snohomish    WA  53061.0      1       0   WASnohomish
...           ...         ...   ...      ...    ...     ...           ...
40715  2020-04-07    Sublette    WY  56035.0      1       0    WYSublette
40716  2020-04-07  Sweetwater    WY  56037.0      6       0  WYSweetwater
40717  2020-04-07       Teton    WY  56039.0     44       0       WYTeton
40718  2020-04-07       Uinta    WY  56041.0      3       0       WYUinta
40719  2020-04-07    Washakie    WY  56043.0      4       0    WYWashakie

[40720 rows x 7 columns]

In [10]:
TNY='https://en.wikipedia.org/wiki/User:Michael_J/County_table'
stuff=pd.read_html(TNY)
US_land_data=stuff[0]
US=US_land_data.rename(columns={'County [2]': 'County'})
US["unique county"]=US["State"]+US["County"]
US

,Sort [1],State,FIPS,County,County Seat(s) [3],Population(2010),Land AreakmÂ²,Land AreamiÂ²,Water AreakmÂ²,Water AreamiÂ²,Total AreakmÂ²,Total AreamiÂ²,Latitude,Longitude,unique county
0,1,AL,1001,Autauga,Prattville,54571,1539.582,594.436,25.776,9.952,1565.358,604.388,+32.536382Â°,â€“86.644490Â°,ALAutauga
1,2,AL,1003,Baldwin,Bay Minette,182265,4117.522,1589.784,1133.190,437.527,5250.712,2027.311,+30.659218Â°,â€“87.746067Â°,ALBaldwin
2,3,AL,1005,Barbour,Clayton,27457,2291.819,884.876,50.865,19.639,2342.684,904.515,+31.870670Â°,â€“85.405456Â°,ALBarbour
3,4,AL,1007,Bibb,Centreville,22915,1612.481,622.582,9.289,3.587,1621.770,626.169,+33.015893Â°,â€“87.127148Â°,ALBibb
4,5,AL,1009,Blount,Oneonta,57322,1669.962,644.776,15.157,5.852,1685.119,650.628,+33.977448Â°,â€“86.567246Â°,ALBlount
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,3139,WY,56037,Sweetwater,Green River,43806,27004.897,10426.649,166.887,64.436,27171.784,10491.085,+41.660339Â°,â€“108.875676Â°,WYSweetwater
3139,3140,WY,56039,Teton,Jackson,21294,10347.984,3995.379,572.266,220.953,10920.250,4216.332,+44.049321Â°,â€“110.588102Â°,WYTeton
3140,3141,WY,56041,Uinta,Evanston,21118,5390.450,2081.264,16.342,6.310,5406.791,2087.574,+41.284726Â°,â€“110.558947Â°,WYUinta
3141,3142,WY,56043,Washakie,Worland,8533,5797.815,2238.549,10.762,4.155,5808.577,2242.704,+43.878831Â°,â€“107.669052Â°,WYWashakie
3142,3143,WY,56045,Weston,Newcastle,7208,6211.021,2398.089,5.002,1.931,6216.023,2400.020,+43.846213Â°,â€“104.570020Â°,WYWeston

In [50]:
All_counties = US.merge(viral_times,left_on='unique county',right_on='unique county', how='outer')
All_counties.sort_values("cases")
All_counties.sort_values(["cases", "Population(2010)"], ascending=False)
lat=str(All_counties.iloc[:,12])
long=str(All_counties.iloc[:,13])
lats=[]
longs=[]
for i in lat:
    x=i[:-1]
    lats.append(x)

for steve in long:
    y=steve[:-1]
    longs.append(y)

All_counties['Latitude']=lats
All_counties["Longitude"]=longs
All_counties.reset_index(drop=True, inplace=True)
All_counties.drop(["Unnamed: 0", "Sort [1]"],axis=1)

ValueError: Length of values does not match length of index

In [ ]:
All_counties.to_csv('C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/All_US_counties.csv',index=False)