In [125]:
import pandas as pd
import datetime

In [126]:
date = datetime.datetime.today()
date_modify = str(date)
date_to_add = date_modify[0:10]

In [ ]:
daily = "https://www.tn.gov/health/cedep/ncov.html"
viral = pd.read_html(daily)
df2 = viral[5]
TN_county = df2[:-3]
TN_county["County"]=TN_county["County"].str.split(" County", expand = True)

In [134]:
march28 = pd.read_csv("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/2020-03-28_counties.csv")
march29 = pd.read_csv("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/2020-03-29_counties.csv")
march30 = pd.read_csv("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/2020-03-30_counties.csv")
march31 = pd.read_csv("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/2020-03-31_counties.csv")
april1= pd.read_csv("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/2020-04-01_counties.csv")

TN_x=pd.concat([march28,march29,march30,march31,april1], join='outer', sort=True)

TN_x

,County,Date,Death,Negative,Percent_Tested,Percentage of County Population,Population,Positive
0,Sumner,2020-03-28,NaN,NaN,NaN,0.043,191283,82.0
1,Williamson,2020-03-28,NaN,NaN,NaN,0.040,238412,95.0
2,Davidson,2020-03-28,NaN,NaN,NaN,0.035,694144,243.0
3,Robertson,2020-03-28,NaN,NaN,NaN,0.032,71813,23.0
4,Shelby,2020-03-28,NaN,NaN,NaN,0.029,937166,269.0
...,...,...,...,...,...,...,...,...
90,Decatur,2020-04-01,NaN,31.0,0.3,0.000,11663,0.0
91,Lake,2020-04-01,NaN,12.0,0.2,0.000,7016,0.0
92,Dekalb,2020-04-01,NaN,NaN,NaN,NaN,20490,NaN
93,Mcminn,2020-04-01,NaN,NaN,NaN,NaN,53794,NaN
94,Mcnairy,2020-04-01,NaN,NaN,NaN,NaN,25694,NaN

In [133]:
TN_x.to_csv('C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/TNDepthHealth.csv',index=False)

In [129]:
# TN_concat = pd.merge(march29,march30,on='County')
# TN_concat
TN_x=pd.concat([march28,march29,march30,march31,april1,new_date], join='outer', sort=True)

TN_x

,County,Date,Death,Negative,Percent_Tested,Percentage of County Population,Population,Positive
0,Sumner,2020-03-28,NaN,NaN,NaN,0.043,191283,82.0
1,Williamson,2020-03-28,NaN,NaN,NaN,0.040,238412,95.0
2,Davidson,2020-03-28,NaN,NaN,NaN,0.035,694144,243.0
3,Robertson,2020-03-28,NaN,NaN,NaN,0.032,71813,23.0
4,Shelby,2020-03-28,NaN,NaN,NaN,0.029,937166,269.0
...,...,...,...,...,...,...,...,...
90,Hancock,2020-04-02,NaN,6.0,0.1,0.000,6620,0.0
91,Henderson,2020-04-02,NaN,86.0,0.3,0.000,28117,0.0
92,Lake,2020-04-02,NaN,16.0,0.2,0.000,7016,0.0
93,Mcminn,2020-04-02,NaN,NaN,NaN,NaN,53794,NaN
94,Mcnairy,2020-04-02,NaN,NaN,NaN,NaN,25694,NaN

In [91]:
url="https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html"
viralNYT=pd.read_html(url)
US_counties = viralNYT[2]
US_counties

Empty DataFrame
Columns: [County, Cases, Per 100,000 people, Slower  Faster  Case Growth Rate]
Index: []

In [106]:
url2="https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
viral_times=pd.read_csv(url2)
TN=viral_times[viral_times["state"] == 'Tennessee']
TN=TN.rename(columns={'county':'County'})
TN=TN.rename(columns={'date':'Date'})
TN=TN.rename(columns={'cases':'Positive'})
TN=TN.rename(columns={'deaths':'Death'})
TN=TN.drop(['state'], axis=1)
TN=TN.sort_values("Date", ascending=True)
TN.sort_values("County", ascending=True)
TN

             Date      County     fips  Positive  Death
570    2020-03-05  Williamson  47187.0         1      0
639    2020-03-06  Williamson  47187.0         1      0
731    2020-03-07  Williamson  47187.0         1      0
841    2020-03-08    Davidson  47037.0         1      0
842    2020-03-08      Shelby  47157.0         1      0
...           ...         ...      ...       ...    ...
25740  2020-04-01      Gibson  47053.0         6      0
25739  2020-04-01    Franklin  47051.0         7      0
25737  2020-04-01     Fayette  47047.0        14      0
25746  2020-04-01    Hamilton  47065.0        50      2
25800  2020-04-01      Wilson  47189.0        45      0

[848 rows x 5 columns]

In [147]:
Synched=TN.append(TN_x, sort=True)
TN_cases=Synched.sort_values(["County", "Date"],ascending=[0,1])
TN_cases["Duplicates"]=TN_cases["County"]+TN_cases['Date']
TN_cases = TN_cases.drop_duplicates(subset="Duplicates", keep="last")
TN_fin=TN_cases.drop('Duplicates', axis=1)
TN_fin
TN_fin.to_csv('C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/Synched/TN_cases_yesterday.csv',index=False)

In [29]:
TN_deaths = TN_x.merge(TN,left_on='Date',right_on='County', how='outer')

TN_deaths

,County_x,Date_x,Death,Negative,Percent_Tested,Percentage of County Population,Population,Positive,Date_y,County_y,fips,Postive,Deaths
0,Anderson,2020-03-28,NaN,NaN,NaN,0.006,76978.0,5.0,NaN,NaN,NaN,NaN,NaN
1,Bedford,2020-03-28,NaN,NaN,NaN,0.002,49713.0,1.0,NaN,NaN,NaN,NaN,NaN
2,Benton,2020-03-28,NaN,NaN,NaN,0.019,16160.0,3.0,NaN,NaN,NaN,NaN,NaN
3,Bledsoe,2020-03-28,NaN,NaN,NaN,0.013,15064.0,2.0,NaN,NaN,NaN,NaN,NaN
4,Blount,2020-03-28,NaN,NaN,NaN,0.007,133088.0,9.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-30,Giles,47055.0,1.0,0.0
1154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-31,Giles,47055.0,3.0,0.0
1155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-30,Fentress,47049.0,1.0,0.0
1156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-31,Fentress,47049.0,1.0,0.0
1157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-31,Humphreys,47085.0,2.0,0.0

In [ ]:
TN_stuff=pd.concat([TN_x,TN], join='left')
TN_stuff.head(50)