In [2]:
import pandas as pd

In [3]:
TN=pd.read_excel("C:/Users/clayf/Downloads/Public-Dataset-County-New.xlsx")
TN["DATE"]=TN["DATE"].astype(str)
TN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9783 entries, 0 to 9782
Data columns (total 20 columns):
DATE                  9783 non-null object
COUNTY                9783 non-null object
TOTAL_CASES           9621 non-null float64
NEW_CASES             9523 non-null float64
TOTAL_CONFIRMED       5626 non-null float64
NEW_CONFIRMED         5529 non-null float64
TOTAL_PROBABLE        5626 non-null float64
NEW_PROBABLE          5529 non-null float64
POS_TESTS             8924 non-null float64
NEG_TESTS             8924 non-null float64
TOTAL_TESTS           8924 non-null float64
NEW_TESTS             8827 non-null float64
NEW_DEATHS            8730 non-null float64
TOTAL_DEATHS          8827 non-null float64
NEW_RECOVERED         7857 non-null float64
TOTAL_RECOVERED       7954 non-null float64
NEW_ACTIVE            8827 non-null float64
TOTAL_ACTIVE          8924 non-null float64
NEW_HOSPITALIZED      6208 non-null float64
TOTAL_HOSPITALIZED    6305 non-null float64
dtypes: float64(18), object(2)
memory usage: 1.5+ MB

In [4]:
Sumner=TN[TN["COUNTY"] == "Sumner"]
Sumner

,DATE,COUNTY,TOTAL_CASES,NEW_CASES,TOTAL_CONFIRMED,NEW_CONFIRMED,TOTAL_PROBABLE,NEW_PROBABLE,POS_TESTS,NEG_TESTS,TOTAL_TESTS,NEW_TESTS,NEW_DEATHS,TOTAL_DEATHS,NEW_RECOVERED,TOTAL_RECOVERED,NEW_ACTIVE,TOTAL_ACTIVE,NEW_HOSPITALIZED,TOTAL_HOSPITALIZED
43,2020-03-13,Sumner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,2020-03-14,Sumner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,2020-03-15,Sumner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,2020-03-16,Sumner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,2020-03-17,Sumner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9382,2020-06-26,Sumner,1296.0,36.0,1286.0,36.0,10.0,0.0,1638.0,11928.0,13566.0,274.0,0.0,51.0,8.0,542.0,28.0,703.0,1.0,214.0
9479,2020-06-27,Sumner,1318.0,22.0,1308.0,22.0,10.0,0.0,1669.0,11952.0,13621.0,55.0,0.0,51.0,11.0,553.0,11.0,714.0,2.0,216.0
9576,2020-06-29,Sumner,1371.0,53.0,1361.0,53.0,10.0,0.0,1730.0,12441.0,14171.0,550.0,0.0,51.0,16.0,569.0,37.0,751.0,0.0,216.0
9673,2020-06-30,Sumner,1417.0,46.0,1407.0,46.0,10.0,0.0,1784.0,12770.0,14554.0,383.0,1.0,52.0,11.0,580.0,34.0,785.0,5.0,221.0
9770,2020-07-01,Sumner,1469.0,52.0,1459.0,52.0,10.0,0.0,1840.0,13070.0,14910.0,356.0,0.0,52.0,15.0,595.0,37.0,822.0,1.0,222.0

In [7]:
Age=pd.read_excel("C:/Users/clayf/Downloads/Public-Dataset-Daily-County-Age-Group.XLSX")
SumnerAge=Age[Age["COUNTY"] == "Sumner"]
SumnerAge

            DATE  COUNTY    AGE_GROUP  CASE_COUNT
630   2020-06-12  Sumner   0-10 years          27
631   2020-06-12  Sumner  11-20 years          86
632   2020-06-12  Sumner  21-30 years         156
633   2020-06-12  Sumner  31-40 years         177
634   2020-06-12  Sumner  41-50 years         168
...          ...     ...          ...         ...
11399 2020-06-27  Sumner  51-60 years         201
11400 2020-06-27  Sumner  61-70 years         114
11401 2020-06-27  Sumner  71-80 years          91
11402 2020-06-27  Sumner    81+ years          86
11403 2020-06-27  Sumner      Pending          11

[150 rows x 4 columns]

In [6]:
Sumner.to_csv('C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/Sumner.csv',index=False)